.product-page-container {
    display: grid;
    height: 100%;
    /* width: 100%/; */
    grid-template-rows: 50% 10% 40%;
    justify-content: center;
}

.product-container {
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 2rem;
}

.product-container-left {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 27rem;
    height: 27rem;
    object-fit: contain;
}

.product-images-small {
    display: flex;
}

.product-images-small img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
}

.product-images-small > * {
    margin: 0.5rem 1rem 0;
}

.small-pic:hover {
    cursor: pointer;
}

.product-page-bottom {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    width: auto;
    margin: 0.5rem;
}

.scroll-label {
    height: fit-content;
    display: flex;
    /* align-items: flex-end; */
    margin-top: 6rem;
    margin-left: 1rem;
    font-weight: bold;
    text-decoration: underline;
}
