#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 0 16px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: absolute;
  background-color: white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

#modal-content label,
#modal-content button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0, 0.9);

}

#modal-content button {
  color: black;
  height: 30px;
  margin: 5px;
  padding: 4px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12pt;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}
