.home-page-container {
    display: grid;
    grid-template-rows: 70% 30%;
    height: 60rem;
    width: 100%;
    justify-content: center;
}

.featured {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 2rem 5rem;
    height: 35rem;
    width: 80%;
    object-fit: contain;
}

.featured-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.featured > * {
    object-fit: contain;
}

.featured-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.featured-description {
    width: 90%;
}

.featured-logo-container {
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 100%;
}

.featured-logo {
    max-width:100%;
    max-height:100%;
}


.featured-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-image {
    width: 100%;
    max-width: 45rem;
    max-height: 25rem;
    margin: auto;
}

.items-container-scroll {
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: auto;
    justify-content: flex-start;
    margin: 8px;
    height: 100%;
    width: 80%;
    min-width: 75%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.items-container-scroll-home {
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: auto;
    justify-content: flex-start;
    margin: 8px;
    height: 100%;
    min-width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.item-preview {
    position: relative;
    margin: 8px;
    border-radius: 3px;
    padding: 8px;
    max-width:100%;
    max-height:100%;
    height: fit-content;
    width: 12rem;
}

.preview-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.001);
    border: 1px solid rgb(0, 0, 0, 0.05);
}

.preview-image-container a {
    text-decoration: none;
    width: 100%;
}

.preview-image {
    resize: none;
    height: 12rem;
    width: 100%;
    margin: 0;
    object-fit: cover;
}


.item-preview-bottom > * {
    margin: 4px 0 4px 0;
}

.item-post-date {
    color: rgb(0, 0, 0, 0.7);
    font-size: 8pt;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.item-post-date + a {
    text-decoration: none;
}

.item-name-and-size {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 10pt;
}

.item-name-and-size p {
    margin: 0;
    padding: 0;
}

.item-description {
    font-size: 9pt;
}

.item-price-and-fav {
    display: flex;
    justify-content: space-between;
    font-size: 9pt;
    font-weight: bold;
}

.item-price-and-fav p {
    margin: 0;
    padding: 0;
}
