.seller-explore-page-container {
    /* display: grid; */
    /* grid-template-rows: 10% 10% 80%; */
    justify-content: center;
}

.favorite-bar {
    /* justify-content: center; */
}

.fav-item-scroll {
    width: 80rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.favorite-bar > * {
    margin-top: 0.5rem;
}

.seller-item-preview {
    width: fit-content;
    position: relative;
    margin: 8px;
    border-radius: 3px;
    padding: 8px;
    /* max-width:100%; */
    max-height:100%;
    height: fit-content;
    width: 12rem;
}

.seller-item-preview-bottom > * {
    margin: 4px 0 4px 0;
}

.seller-item-post-date {
    color: rgb(0, 0, 0, 0.7);
    font-size: 8pt;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.seller-item-name-and-size {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 10pt;
}

.seller-item-name-and-size p {
    margin: 0;
    padding: 0;
}

.seller-item-description {
    font-size: 9pt;
}

.seller-item-price-and-fav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 9pt;
    font-weight: bold;
}

.seller-item-price-and-fav > * {
    margin-top: 0;
}

.this-item-sold {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 12rem;
    width: 12rem;
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
}

.this-item-sold:hover {
    background-color: rgb(0, 0, 0, 0.3);
    font-size: 14pt;
}

.this-item-sold > * {
    margin: 0.25rem;
}
