.transactions-options-container {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    align-items: center;
}

.transactions-options-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-family: 'Roboto Mono', monospace;
    border-radius: 3px;
    color: rgb(0, 0, 0, 0.6);
}

.profile-purchases-clicked, .profile-sales-clicked {
    background-color: white;
    color: black;
    border: 1.5px solid black;
    border-bottom: 3px solid black;
    font-weight: bold;
}

.orders-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.order-container {
    padding: 2rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    width: 35rem;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0.2);
}

.order-image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.order-details {
    display: grid;
    grid-template-rows: 40% 50% 20%;
    width: 100%;
    margin: 0 1.5rem;
}

.order-details-top {
    display: grid;
    grid-template-columns: 30% 25% 30%;
    align-items: center;
    width: 100%;
}

.top-detail-name {
    font-weight: bold;
    color: rgb(0, 0, 0, 0.6);
}

.top-detail {
    font-size: 10pt;
    font-weight: bold;
}

.order-details-bottom {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
}

.order-details-bottom > * {
    margin: 0.5rem 0;
}

.order-item-name {
    font-size: 10pt;
}

.order-item-description {
    font-size: 9pt;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.7);
    margin: 0;
}

.order-details-top div > * {
    margin: 0.5rem 0;
}

.order-leave-review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.current-review {
    display: flex;
}

.order-leave-review button {
    width: 25rem;
    height: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 10pt;
    background-color: black;
    border-color: rgb(0, 0, 0, 0.4);
    color: white;
}

.order-leave-review button:hover {
    font-size: 11pt;
    cursor: pointer;
}

.solds-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sold-container {
    padding: 2rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    width: 35rem;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0.2);
}

.sold-image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.sold-details {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100%;
    margin: 0 1.5rem;
}

.sold-details-top {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    align-items: center;
    width: 100%;
}

.top-detail-name {
    font-weight: bold;
    color: rgb(0, 0, 0, 0.6);
}

.top-detail {
    font-size: 10pt;
    font-weight: bold;
}

.sold-details-bottom {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
}

.sold-details-bottom > * {
    margin: 0.5rem 0;
}

.sold-item-name {
    font-size: 10pt;
}

.sold-item-description {
    font-size: 9pt;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.7);
    margin: 0;
}

.sold-details-top div > * {
    margin: 0.5rem 0;
}

.current-review-stars {
    font-weight: bold;
    color: rgb(0, 0, 0, 0.8);
}

.current-review-body {
    /* display: flex; */
    /* align-items: flex-end; */
    font-style: italic;
    /* font-weight: bold; */
    font-size: 10pt;
    color: rgb(0, 0, 0, 0.65);
}

.review-edit-delete {
    /* display: grid;
    /* width: 100%; */
    /* grid-template-columns: 90% 10%; */
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    height: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 10pt;
    background-color: white;
    border-color: rgb(0, 0, 0, 0.4);
    color: white;
}

.review-edit-delete button {
    margin-right: 1rem;
    border-radius: 2px;
    /* background-color: white; */

}

.delete-review-btn {
    width: 1rem;
    /* background-color: white; */
}
