.chaliced-footer {
    display: grid;
    grid-template-rows: 20% 80%;
    margin: 10rem 0 0 0;
    /* border: 2px solid rgb(0, 0, 0, 0.4); */
    font-weight: bold;
    color: rgb(0, 0, 0, 0.8);
}

.chaliced-footer > * {
    margin: 1rem 0 0 0;
}

.footer-title {
    display: flex;
    justify-content: center;
    padding-top: 0.6em;
}

.footer-tech-links {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0, 0.0125);
    border-radius: 2px;
    border-top: 3px solid rgb(0, 0, 0, 0.075);
}

.footer-tech-links > * {
    /* margin: 0 15em; */
}

.tech-title, .link-title {
    margin: 1em 0 0 1em;
    display: flex;
    /* justify-content: center; */
    width: 100%;
}

.tech-list, .link-list {
    display: flex;
    margin: 0 1rem;
    /* justify-content: center; */
    width: 100%;
}

.tech-list > *, .link-list > * {
    margin: 1em;
}

.footer-tech {
    background: rgb(0, 0, 0, 0.025);
}

.footer-links {
    background: rgb(0, 0, 0, 0.05);
    width: 100%;
}
