/* TODO Add site wide styles */

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

.item-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-not-found > * {
    color: rgb(0, 0, 0, 0.8);
    margin: 0.5rem;
}
