.product-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-buttons > * {
    margin: 5px 0;
}

.product-purchase-btn button,
.product-edit-btn button {
    width: 25rem;
    height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 10pt;
    background-color: black;
    border-color: rgb(0, 0, 0, 0.4);
    color: white;
}

.product-purchase-btn button:hover,
.product-favorite-btn button:hover,
.product-edit-btn button:hover,
.product-delete-btn button:hover
 {
    font-size: 11pt;
    cursor: pointer;
}

.product-favorite-btn button,
.product-delete-btn button {
    width: 25rem;
    height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 10pt;
    background-color: white;
    border-color: rgb(0, 0, 0, 0.4);
}

.product-sold-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    /* width: 15rem;
    height: 4rem; */
    padding: 2rem 5.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 12pt;
    /* text-decoration: underline; */
    border: 2px solid black;
    border-radius: 4px;
    border-color: rgb(0, 0, 0, 0.2);
}

.product-sold-div > div {
    cursor: pointer;
}

.product-sold-div > div:hover {
    font-size: 12.1pt;
    text-decoration: underline;
    color: rgb(0, 0, 0, 0.7);
}

.product-seller-info {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.15);
    border-top: 1px solid rgb(0, 0, 0, 0.15);
}


.seller-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: 100%;
    overflow: hidden;
}

.seller-profile-pic img {
    object-fit: cover;
    width: 4rem;
    border-radius: 50%;
    height: 4rem;
    display: block;
    image-rendering: crisp-edges;
}

.seller-stats {
    display: grid;
}

.product-seller-name {
    font-weight: bold;
    font-size: 11pt;
}

.seller-stats a, .seller-stats div {
    text-decoration: none;
    color: black;
    margin: 2px 0;
}
