.create-listing-header {
    margin-top: 0.75rem;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    border-bottom: 2px solid rgb(0, 0, 0, 0.2);
}

.errors {
    color: red;
    font-weight: bold;
    font-size: 10pt;
}

.create-listing-form {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.create-listing-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-listing-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.create-listing-form > * {
    margin: 0 2rem;
}

.listing-label {
    font-weight: bold;
}

.listing-label + input:not(.image-upload) {
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
    width: 10rem;
    margin: 0.5rem;
    background-color: rgb(0, 0, 0, 0.03);
    text-align: center;
}

.listing-label + textarea {
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
    width: 10rem;
    margin: 0.5rem;
    background-color: rgb(0, 0, 0, 0.03);
    text-align: center;
    resize: none;
}

.listing-label + select {
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
    width: 10rem;
    margin: 0.5rem;
    background-color: rgb(0, 0, 0, 0.03);
    text-align: center;
}

.image-listing-label {
    display: flex;
}

.image-listing-label > * {
    margin: 0 0.2rem;
}

.image-counter {
    font-size: 10.5pt;
    color: rgb(0, 0, 0, 0.7);
}

.password-label {
    font-style: italic;
}

.password-label + input:not(.image-upload) {
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
    width: 10rem;
    margin: 0.5rem;
    background-color: rgb(0, 0, 0, 0.05);
}

.create-listing-image-container {
    width: 7.5rem;
    height: 7.5rem;
    border: 1px solid black;
}

.create-listing-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.create-listing-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#create-listing-btn {
    width: 5rem;
    height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 12pt;
    background-color: white;
    border-color: rgb(0, 0, 0, 0.4);
}

#create-listing-btn:hover {
    font-size: 12.5pt;
}

.product-image-upload {
    width: 6.5rem;
}
