.explore-page-container {
    display: grid;
    grid-template-rows: 2.5rem 1rem;
    justify-content: center;
}

.top-explore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80rem;
    margin: auto;
}

.item-count {
    margin: 0 5rem 0 5rem;
    font-size: 15px;
}

.filter-btn {
    font-weight: bold;
    font-size: 17px;
    margin: 0 5rem 0 5rem;
}

.filter-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.available {
    display: flex;
    align-items: center;
    margin: 0 5rem;
    font-weight: bold;
}

.preview-image {
    cursor: pointer;
}

.item-name-and-size {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
