.main-nav {
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 10px;
}

.home-logo {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
}

.home-logo:hover {
    color: rgb(0, 0, 0, 0.8);
    text-shadow:
    -0.6px -0.6px 0 rgb(0, 0, 0, 0.5),
    0.6px -0.6px 0 rgb(0, 0, 0, 0.5),
    -0.6px 0.6px 0 rgb(0, 0, 0, 0.5),
    0.6px 0.6px 0 rgb(0, 0, 0, 0.5);
    -webkit-transition: all ease .7s;
    -moz-transition: all ease .7s;
    -o-transition: all ease .7s;
    transition: all ease .7s;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input {
    height: 1.75rem;
    width: 35rem;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* profile btn & dropdown css */
.profile-btn {
    border-radius: 4px;
    background-color: white;
    border-color: rgb(0, 0, 0, 0.4);
}

.profile-btn:hover {
    cursor: pointer;
}

.profile-dropdown {
    list-style: none;
    padding-left: 0;
}

.profile-dropdown li {
    list-style: none;
}

.profile-dropdown {
    background-color: rgb(51, 51, 51, 0.8);
    border: 1px solid rgb(51, 51, 51);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 5px;
    height: 5em;
    top: 4%;
    right: 6%;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 6px;
    list-style: none;
    z-index: 1;
}
/*//////////////////////////////*/

.nav-right > * {
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-size: 16px;
}

.nav-right a+button, .nav-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 1.7rem;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 9pt;
    background-color: black;
    border-color: rgb(0, 0, 0, 0.2);
    color: white;
    margin: 0 0.5rem;
    cursor: pointer;
    padding: 0 1rem;
}

.nav-right a+button {
    background-color: white;
    border-color: rgb(0, 0, 0, 0.4);
    color: black;
}

.shop-btn {
    text-decoration: none;
    color: black;
}

.sell-btn {
    text-decoration: none;
    color: black;
}

.shop-btn:hover {
    text-decoration: underline;
}

.sell-btn:hover {
    text-decoration: underline;
}
