.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    max-width: 100vw;
}

.top-nav {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
    margin-left: 1rem;
}

.profile-btn-top-nav {
    overflow-x: hidden;
}

.home-logo {
    display: flex;
    width: fit-content;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 1rem;
    -webkit-transition: all ease-in-out .7s;
    -moz-transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    transition: all ease-in-out .7s;
}

.home-logo:hover {
    color: rgb(0, 0, 0, 0.8);
    font-size: 20.5px;
    text-shadow:
    -0.4px -0.4px 0 rgb(0, 0, 0, 0.5),
    0.4px -0.4px 0 rgb(0, 0, 0, 0.5),
    -0.4px 0.4px 0 rgb(0, 0, 0, 0.5),
    0.4px 0.4px 0 rgb(0, 0, 0, 0.5);
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input {
    height: 1.75rem;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottom-nav {
    display: flex;
    justify-content: center;
}

/* profile btn & dropdown css */
.profile-btn {
    border-radius: 4px;
    background-color: white;
    border: none;
    width: 100%;
}

.profile-btn:hover {
    cursor: pointer;
}

.profile-dropdown li {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 0.19rem 0.3rem;
    width: 100%;
}

.profile-dropdown li > button {
    border: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 0;
}

.profile-dropdown li > button:hover {
    background-color: rgb(0, 0, 0, 0.25);
    color: white;
    text-shadow:
    -0.7px -0.7px 0 rgb(0, 0, 0, 0.5),
    0.7px -0.7px 0 rgb(0, 0, 0, 0.5),
    -0.7px 0.7px 0 rgb(0, 0, 0, 0.5),
    0.7px 0.7px 0 rgb(0, 0, 0, 0.5);
}

.profile-dropdown li:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.25);
    color: white;
    text-shadow:
    -0.7px -0.7px 0 rgb(0, 0, 0, 0.5),
    0.7px -0.7px 0 rgb(0, 0, 0, 0.5),
    -0.7px 0.7px 0 rgb(0, 0, 0, 0.5),
    0.7px 0.7px 0 rgb(0, 0, 0, 0.5);
}

.profile-dropdown {
    list-style: none;
    background-color: rgb(51, 51, 51, 0.8);
    border: 1px solid rgb(51, 51, 51);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 5px;
    height: 5em;
    top: 4%;
    right: -100%;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 3px;
}

.activated {
    top: 2.6rem;
    right: 0rem;
}

.profile-dropdown {
    display: flex;
    background-color: rgb(250, 250, 250);
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 11.5pt;
    -webkit-transition: all ease-in-out .7s;
    -moz-transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    transition: all ease-in-out .7s;
}

.home-logo:hover {
    color: rgb(0, 0, 0, 0.8);
    font-size: 20.5px;
    text-shadow:
    -0.4px -0.4px 0 rgb(0, 0, 0, 0.5),
    0.4px -0.4px 0 rgb(0, 0, 0, 0.5),
    -0.4px 0.4px 0 rgb(0, 0, 0, 0.5),
    0.4px 0.4px 0 rgb(0, 0, 0, 0.5);
}

/*//////////////////////////////*/

.log-github, .log-linkedin {
    margin: 0 0 0 1rem;
}

.fa-linkedin, .fa-github {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
    font-size: 2rem;
}

.fa-linkedin {
    margin-right: 1rem;
}

.fa-github:hover {
    color: rgb(85,26,139);
}

.fa-linkedin:hover {
    color: rgb(24,102,194);
}

.nav-right > *:not(.nav-session-btn) {
    /* margin: 0 0 0 1rem; */
    font-weight: bold;
    font-size: 16px;
}

.nav-right a+.sell-btn,
.nav-right .shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 1.7rem;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 10.5pt;
    background-color: black;
    border-color: rgb(0, 0, 0, 0.2);
    color: white;
    margin: 0 0.5rem;
    cursor: pointer;
    padding: 0 0.5rem;
}

.nav-right a+.sell-btn {
    background-color: white;
    border-color: rgb(0, 0, 0, 0.4);
    padding: 0 1.25rem;
    margin: 0 0.5rem;
    color: black;
}

.shop-btn {
    text-decoration: none;
    color: black;
}

.sell-btn {
    text-decoration: none;
    color: black;
}

.shop-btn:hover {
    text-decoration: underline;
}

.sell-btn:hover {
    text-decoration: underline;
}

.favs-and-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 1rem;
}

.favs-and-profile > i, .profile-btn {
    font-size: 20pt;
}


.favs-and-profile > * {
    margin: 0 0.125rem;
}

.nav-categories {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
    width: 98%;
    border-top: 2px solid rgb(0, 0, 0, 0.1);
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
}

.bottom-nav {
    width: 100%;
}

.nav-categories > div {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

.nav-categories > div:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* searchbar css */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.searchbar {
    width: 100%;
}

.search-bar-form {
    width: 100%;
}

.search-bar {
    width: 100%;
}

.search-bar > input {
    height: 1rem;
    margin: 0 1rem;
    width: 100%;
}

.search-input:focus {
    outline: none;
}

.search-result-link {
    background: none;
    border: none !important;
    display: block;
    padding: 0 !important;
    transition: none !important;
}

.search-result-link>div {
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

.search-bar-form {
    padding: 0;
    width: 100%;
}

.search-bar-form input {
    border: none;
    display: flex;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 0.4em;
    transition: border 200ms;
}

.search-bar-form>div {
    align-items: center;
    display: flex;
    position: relative;
}

.search-results {
    color: black;
    background: white;
    margin-top: 1rem;
    top: 50px;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 30%), 0 20px 48px rgb(0 0 0 / 16%),
        0 1px 4px rgb(0 0 0 / 12%);
    max-height: 16em;
    opacity: 0;
    overflow-y: scroll;
    padding: 16px;
    position: absolute;
    visibility: hidden;
    transform: scale(1.1);
    transition: all 350ms;
    max-width: 15em;
    color: black;
    z-index: 1;
}

.results-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.search-result-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.search-results a>div:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.search-results a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 11pt;
    margin: 1rem;
    border-color: black;
}


/* media query */

@media only screen and (max-width: 480px) {
    .log-github, .log-linkedin {
        visibility: hidden;
    }

    .featured {
        font-size: 6pt;

    }

    .top-nav {
        grid-template-columns: 20% 10% 70%;
    }
}

@media only screen and (max-width: 1130px) {
    .search-bar-container {
        visibility: hidden;
    }

    .favs-and-profile {
        justify-content: flex-end;
    }

    .top-nav {
        grid-template-columns: 20% 10% 70%;
    }

}
