.login-header {
    margin-top: 0.5rem;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    border-bottom: 2px solid rgb(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.login-form > * {
    margin: 5px 0;
}

.credential-label {
    font-style: italic;
}

.credential-label + input:not(.image-upload) {
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
    width: 10rem;
    margin: 0.5rem;
    background-color: rgb(0, 0, 0, 0.05);
    text-align: center;
}

.password-label {
    font-style: italic;
}

.password-label + input:not(.image-upload) {
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
    width: 10rem;
    margin: 0.5rem;
    background-color: rgb(0, 0, 0, 0.05);
    text-align: center;
}

/* .login-btn {
    color: rgb(0, 0, 0, 0.05);
} */

#login-btn {
    /* color: rgb(0, 0, 0, 0.05);
    font-weight: bold;
    font-style: italic; */
    width: 5rem;
    height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 12pt;
    background-color: white;
    border-color: rgb(0, 0, 0, 0.4);
}

#login-btn:hover {
    font-size: 12.5pt;
}

.nav-session-btn {
    font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    margin: 0 0.5rem;
    background-color: white;
}

.nav-session-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 12.5pt;
}
